table {
    width: 75%;
    border-collapse: collapse;
    margin: 50px auto;
    border: 0.5px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #19faa0;
    color: white;
}

tr:nth-child(even) {
    background-color: #dadbd7;
}

tr:nth-child(odd) {
    background-color: white;
}